.wrapper{
    padding-top: 0;
    padding-bottom: 40px;
}

.wrapperabout{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 100px;
}

.wrapperabout2{
    margin-top: -80px;
}

.text{
    color: white;
    font-size: 23px;
}

.text2{
    text-align: center;
    color: white;
    font-size: 23px;
}

.text3{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.wrappermap{
    display: grid;
}

.map{
    border: 6px solid gray;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.map:hover{
    transition: 750ms;
    scale: 110%;
}

.tittle{
    text-align: center;
    color: white;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        padding-top: 0px;
    }
    
    .wrapperabout{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-bottom: 70px;
    }

    .wrapperabout2{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: -50px;
    }
    
    .map{
        width: 100%;
    }

    .text{
        text-align: center;
        color: white;
        font-size: 16px;
    }
    
    .text2{
        text-align: center;
        color: white;
        font-size: 18px;
    }

    .text3{
        text-align: center;
        color: white;
        font-size: 20px;
    }
    
    .tittle{
        text-align: center;
        color: white;
        font-size: 20px;
    }
}