.wrapper{
    display: grid;
    margin-top: auto;
}

.button{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.button:hover{
    transition: 650ms;
    scale: 110%;
}

@media only screen and (max-width: 600px) {
    .button{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        background: none;
        color: white;
        border: none;
        font-size: 15px;
    }
}