@font-face {
  font-family: 'Poppins-Thin';
  src: url('./Assets/Font/Poppins-Thin.ttf');
}

#Thin{
  font-family: 'Poppins-Thin', sans-serif;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./Assets/Font/Poppins-Bold.ttf');
}

#Bold{
  font-family: 'Poppins-Bold', sans-serif;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Assets/Font/Poppins-Light.ttf');
}

#Light{
  font-family: 'Poppins-Light', sans-serif;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('./Assets/Font/Poppins-ExtraLight.ttf');
}

#ExtraLight{
  font-family: 'Poppins-ExtraLight', sans-serif;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('./Assets/Font/Poppins-Medium.ttf');
}

#Medium{
  font-family: 'Poppins-Medium', sans-serif;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./Assets/Font/Poppins-SemiBold.ttf');
}

#SemiBold{
  font-family: 'Poppins-SemiBold', sans-serif;
}

.App {
  margin: 0px;
  padding: 0px;
}

.background{
  background-image: url("https://res.cloudinary.com/ddpo9zxts/image/upload/v1685070899/bzckground_bmw_tryczc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.kontainer{
  display: grid;
  width: 85%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .kontainer{
    width: 70%;
  }
  .background{
    background-image: url("https://res.cloudinary.com/ddpo9zxts/image/upload/v1685070898/background_bmw_mobile_r6yejq.jpg");
  }
}